*,
*::before,
*::after{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    font-size: 32px;
    font-weight: 900;
    user-select: none;
}

#main{
    border: 2px solid red;
    display: grid;
    align-items: center;
    justify-content: center;
}

.wrapper{
    background-color: hsla(0, 0%, 0%, 57%);
    border: 3px solid hsla(0, 0%, 40%, 100%);
    box-shadow: 5px 5px 30px 15px hsla(0, 0%, 35%, 0.9) inset;
    border-radius: 10px;
    display: grid;
    width: 400px;
    height: 600px;
    gap: 5px;
    grid-template-columns:repeat(4, 1fr);
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-top: 4px;
}

.output{
    grid-column: 1 / 5;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-height: 40px;
    margin-bottom: 10px;
    background-color: hsla(160,13%,58%,50%);
    box-shadow: 2px 2px 30px 15px hsla(160, 20%, 35%, 20%) inset,
                -4px -2px 20px 15px hsla(190, 30%, 35%, 20%) inset,
                -4px -2px 200px 15px hsla(200, 90%, 90%, 60%) inset;
}
.add{
    grid-row: 5 / 7;
    grid-column: 4 / 5;
}
button{
    all: unset;
    text-align: center;
    cursor: pointer;
    background-color: hsla(0,0%, 60%, 100%);
    /* border: 2px solid hsla(0, 0%, 60%, 100%); */
    box-shadow: 2px 5px hsla(0, 0%, 30%, 90%),
                -10px -10px 45px 25px hsla(0, 0%, 70%, 80%) inset,
                20px 20px 15px 30px hsla(0, 0%, 35%, 0.9) inset;
    border-radius: 10px;
}

button:active{
    box-shadow: -2px -1px 4px hsla(0, 0%, 10%, 100%);
}